<form [formGroup]="formGroup">
    <div class="po-row">
        <po-datepicker
            class="po-sm-2 po-md-2 po-lg-2"
            p-required="true"
            [p-show-required]="true" 
            p-label="Data inicial"
            formControlName="dataInicial"
        >
        </po-datepicker>

        <!-- TODO: habilitar p-required e p-show-required nos demais campos -->
    
        <po-datepicker
            class="po-sm-2 po-md-2 po-lg-2"
            p-label="Data final"
            p-required="true"
            [p-show-required]="true"
            formControlName="dataFinal"
        >
        </po-datepicker> 

        <div class="po-sm-2 po-md-2 po-lg-2"> 
            <po-input 
                p-label="Livro"
                p-required="true"
                [p-show-required]="true"
                p-clean
                formControlName="txtLivro">
            </po-input>
            <app-vmessage
                *ngIf="formControls['txtLivro'].touched && 
                    formControls['txtLivro'].errors?.['required']"
                text="O campo livro é obrigatório">
            </app-vmessage>
            
        </div>
        <!-- TODO: Implementar demais mensagens de validações -->

        <po-input 
            class="po-sm-3 po-md-3 po-lg-3"
            p-label="Salvar em"
            p-required="true"
            [p-show-required]="true"
            formControlName="txtSalvarEm"
            p-placeholder="Ex.: C:\arquivos">
        </po-input>

        <po-input 
            class="po-sm-3 po-md-3 po-lg-3"
            p-clean
            p-label="Nome do arquivo"
            p-required="true"
            [p-show-required]="true"
            formControlName="txtNomeDoArquivo"
            p-placeholder="Ex.: sped-fiscal.txt">
        </po-input>
        
    </div>
    
    <div >
        <po-accordion>
            <po-accordion-item p-label="Apuração do ICMS/IPI">
                <div class="po-row">

                    <po-input 
                        class="po-sm-6 po-md-6 po-lg-6"
                        p-clean 
                        p-label="Arquivo período anterior"
                        formControlName="txtArquivoAnterior">
                    </po-input>

                    <po-select 
                        class="po-sm-6 po-md-6 po-lg-6"
                        p-label="Período apuração IPI"
                        [p-options]="periodosApuracaoIPI"
                        formControlName="periodoApuracaoIPI"> 
                    </po-select>

                    <po-switch *ngFor="let opcao of opcoesApuracaoIPI"
                        class="po-sm-6 po-md-6 po-lg-6"
                        [p-label]="opcao.label"
                        p-label-off="Não"
                        p-label-on="Sim"
                        formControlName="{{opcao.property}}">
                    </po-switch>
                </div>
            </po-accordion-item>

            

            <!-- TODO: implementar demais po-accordion-item -->
    
        </po-accordion>
        
    </div>

    
</form>