<po-modal p-size="auto" [p-title]="title">

  <ng-container [formGroup]="mainForm">
    <po-stepper #stepper>

      <po-step 
        p-label="Parâmetros para geração"
        [p-can-active-next-step]="canActiveNextStep.bind(this, mainForm.controls['generalInfoForm'])">

        <po-widget
          p-primary-label="Próximo"
          p-title="Parâmetros para geração"
          (p-primary-action)="stepper.next()">

          <app-general-info-form formGroupName="generalInfoForm" ></app-general-info-form>

        </po-widget>

      </po-step>

      <po-step 
        p-label="Dados do contribuinte"
        [p-can-active-next-step]="canActiveNextStep.bind(this, mainForm.controls['taxpayerInfoForm'])">

        <po-widget
          p-title="Dados do contribuinte"
          p-primary-label="Voltar"
          p-secondary-label="Próximo"
          (p-primary-action)="stepper.previous()"
          (p-secondary-action)="stepper.next()">

          <app-taxpayer-info-form formGroupName="taxpayerInfoForm"></app-taxpayer-info-form>

        </po-widget>

      </po-step>

      <!-- TODO: arrumar lógica de finalização -->
      <po-step 
        p-label="Dados do contabilista"
        [p-can-active-next-step]="canActiveNextStep.bind(this, mainForm)">

        <po-widget
          p-title="Dados do contabilista"
          p-primary-label="Voltar"
          p-secondary-label="Finalizar"          
          (p-primary-action)="stepper.previous()"
          (p-secondary-action)="stepper.next()">
          
          <app-accountant-info-form formGroupName="accountantInfoForm" ></app-accountant-info-form>

        </po-widget>

      </po-step>

    </po-stepper>
    
  </ng-container>

  <po-button p-label="PO Button" (p-click)="sendData()"> </po-button>


</po-modal>